.text-editor {
  max-width: 1200px;
  margin: 0 auto;
}

.editor {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
