.text-editor {
  max-width: 1200px;
  margin: 0 auto;
}

.editor {
  background-color: var(--editor-bg-color);
  color: var(--editor-text-color);
  padding: var(--editor-padding);
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-size: var(--editor-font-size);
}
