.btn {
  border: none;
  padding: var(--btn-padding);
  font-size: var(--btn-font-size);
  cursor: pointer;
  background-color: var(--btn-bg);
  border-radius: var(--btn-border-radius);
  margin: 0 2px;
}

.btn:hover {
  background-color: var(--btn-bg-hover);
}

.btn.active {
  color: var(--btn-text-color);
  font-weight: bold;
  background-color: var(--btn-bg-active);
}
