.toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: var(--toolbar-padding);
  background-color: var(--toolbar-bg);
  border-bottom: 1px solid var(--toolbar-border-color);
}

.separator {
  width: var(--toolbar-separator-width);
  background-color: var(--toolbar-separator-color);
  margin: 0 5px;
}
