:root {
  /* Editor */
  --editor-bg-color: #ffffff;
  --editor-text-color: #000000;
  --editor-font-size: 1.5rem;
  --editor-padding: 10px 20px;
  
  /* Toolbar */
  --toolbar-padding: 15px;
  --toolbar-bg: #ffffff;
  --toolbar-border-color: #ccc;
  --toolbar-separator-color: #ccc;
  --toolbar-separator-width: 1px;

  /* Toolbar buttons */
  --btn-bg: transparent;
  --btn-bg-hover: rgba(0, 0, 0, 0.1);
  --btn-bg-active: rgba(255, 127, 80, 0.15);
  --btn-text-color: coral;
  --btn-padding: 0.7em 1.2em;
  --btn-font-size: 18px;
  --btn-border-radius: 5px;


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(28, 29, 29);
  color: #fff;
  padding: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
